* {
    margin: 0;
    padding: 0;

    /* COLORS */

    --background-cards: #EBE9EA;
    --color-dark: #181818;
    --color-dark-transparent: #18181880;
    --color-light: #F9F9F9;
    --color-description: #474747;

    /* FONTS */

    font-family: 'Montserrat', sans-serif;
}

.offers {
    background-color: var(--color-dark);

    padding: 15px 0;
    text-align: center;
}

.offers a {
    font-weight: 500;
    color: var(--color-light);
    text-decoration: none;
}

.offers a:hover {
    text-decoration: underline;
}

.title {
    background-color: var(--color-light);

    padding: 7px 0;
    text-align: center;
}

.title h1 {
    color: var(--color-dark);
    font-size: 24px;
}

header {
    background: url(../images/air-jordan-fundo-desktop.png) no-repeat;
    background-size: cover;
}

header .container {
    background-color: var(--color-dark-transparent);
}

header .container .subtitle {
    width: 90%;
    max-width: 460px;

    margin: auto auto auto 10%;
    padding: 129px 0px 121px;
    color: white;
}

header .container .subtitle h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 19px;
}

header .container .subtitle p {
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}

main {
    background-color: var(--color-light);
}

main .highlights {
    text-align: center;
    padding: 58px;
}

main .highlights h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-dark);
}

main .highlights p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-description);
}

main .container {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    gap: 13px;
    flex-flow: row wrap;
    justify-content: center;
}

main .container .cards {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-cards);
    transition: transform 1s;
}

main .container .cards:hover{
    transform: scale(1.1, 1.1);
}

footer {
    background-color: var(--color-dark);
    padding: 13px;
    margin-top: 100px;
    text-align: center;
}

footer p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-light);
}

@media (max-width: 500px) {
    header {
        background: url(../images/air-jordan-fundo-mobile.png) no-repeat;
        background-size: cover;
    }

    header .container .subtitle h2, main .highlights h2 {
        font-size: 28px;
    }

    header .container .subtitle p, main .highlights p {
        font-size: 16px;
        line-height: 28px;
    }
}